.fifthSection{
    width: 100%;
    height: 110vh;
    padding-top: 95px;
    padding-bottom: 95px;
    overflow: hidden;
    .texts{
    h4{
        font-size: 30px;
        color: #fd9d3e;
        font-family: 'Pacifico', cursive;
    }
    h1{
        font-size: 60px;
        color: #1d1d1d;
        line-height: 58px;
        font-weight: 700!important;
    }
    p{
        font-size: 14px;
        color: #121619;
        padding-top: 20px;
    }
    .call-button{
        background: #121619;
        color: #fff;
        width: 350px;
        height: 80px;
        border: 10px solid #fd9d3e;
        font-size: 25px;
        font-weight: 700;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
    .forms{
        .book-table{
        font-size: 30px;
        color: #121619;
        font-weight: 700;
        letter-spacing: 2px;
        padding-bottom: 20px;
    }
    .form-group{
        margin-bottom: 20px;
    input{
        font-size: 14px;
    color: #999999;
    padding: 0px 25px;
    height: 50px;
    border: 1px solid #999999;
    border-radius: unset;
    }
}

}
.bookBtn{
    color: #fff;
    font-weight: 700;
    background: #121619;
    width: 180px;
    height: 50px;
    border: 1px solid #121619;
    text-transform: uppercase;
    border-radius: 50px;
    transition: .7s;
    &:hover{
        transition: .7s;
        background-color: #fff;
        color: #111;
    }
}
}

@media only screen and (max-width: 600px){
    .fifthSection{
        height: auto;
        .texts{
            h1{
                font-size: 50px;
            }
        }
    }
}